.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 45%;
    background-color: #ffffff;
    margin-top: 50px;
    margin-left: 50px;
    border-radius: 8px;
    &__container-body{
      display: flex;
      &__left{
        width: 40%;
        margin-top: 10px;
        margin-left: 20px;
        margin-bottom: 10px;
        text-align: left;
        
      }

      &__right{
        width: 40%;
        margin-top: 10px;
        margin-left: 60px;
        margin-bottom: 10px;
        text-align: left;
      }
    }
    &__container-header{
      top: 320px;
      height: 50px;
      background-color: #e2e9ef;
      padding: 2px 1px;
      color: #002c5f;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      opacity: 1;
      text-align: left;
      font-weight: bold;
      h3{
        margin-left: 20px;
      }
    }
}

.sub-card{
  width: 150px;
  h5{
    margin-bottom: 5px;
    color: #002c5f;
  }
  p{
    margin-top: 0px;
  }
}

.cards{
  display: flex;
}

.title{
  text-align: left;
  margin-left: 50px;
  margin-bottom: 0px;
  color: #002c5f;
  &__sub-header{
    display: flex;
    margin-top: 10px;
    opacity: 1;
    p{
      margin-top: 0px;
      font-weight: bold;
      color: #4d565c;
    }
    h4{
      margin-bottom: 0px;
    }
  }
  h1{
    margin-bottom: 0px;
  }
  
}

.chip-blue{
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0 15px;
  height: 20px;
  font-size: 15px;
  line-height: 20px;
  border-radius: 25px;
  margin-left: 30px;
  background-color: #e6f8fc;
  border: 1px solid #7fdaec;
}

.chip-red{
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0 15px;
  height: 20px;
  font-size: 15px;
  line-height: 20px;
  border-radius: 25px;
  margin-left: 30px;
  background-color: #e6f8fc;
  border: 1px solid #7fdaec;
}